
<style>ul.timeline {
    list-style-type: none;
    position: absolute;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
    margin-left: 0.6%
}
ul.timeline > li {
    margin: 70px 0;
    padding-left: 70px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
</style>


<div class="card">
  <div class="card-body">
      <p>{{application.project.project}}</p>
      <p>Applied By: {{application.student.name}} </p>
  </div>
</div>
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Application Status</h4>
			<ul class="timeline">
                {{#if application.applicationSubmitted}}
				<li>
					<a target="_blank" href="#">Application Submitted</a>
					<a href="#" class="float-right">{{application.date}}</a>
				</li>
                {{/if}}
                {{#if application.inReview}}
				<li>    
					<a href="#">In Review</a>
					<a href="#" class="float-right">{{application.date}}</a>
				</li>
                {{else}}
                <li>    
					<a href="#">Reviewed</a>
				</li>
                    {{#if application.approved}}
                    <li>
                        <a href="#">Approved</a>
                        <a href="#" class="float-right">{{application.date}}</a>
                    </li>
                    {{else}}
                     <li>
                        <a href="#">Rejected</a>
                        <a href="#" class="float-right">{{application.date}}</a>
                    </li>
                    {{/if}}
                {{/if}}
			</ul>
		</div>
	</div>
</div>
