{{#each applications}}
<div class="card card-body mb-2">
   <div class="card card-body">
       <h4>Student Details</h4>
       <p>Name: {{student.name}}</p>
       <p>Email: {{student.email}}</p>
       <p>Department: {{student.department}}</p>
       <p>Year: {{student.year}}</p>
       <p>Github: {{student.github}}</p>
       <p>UID: {{student.UID}}</p>
       <p>College: {{student.collegeName}}</p>
       <p>Resume: {{student.resume}}</p>
   </div>
   <div class="card card-body">
       <h4>Research Work Details</h4>
       <p>Project: {{project.project}}</p>
       <p>Sponsor: {{project.sponsor}}</p>
       <p>Grants: {{project.grants}}</p>
       <p>Time Of Completion: {{project.timeOfCompletion}}</p>
   </div>
    <a class="btn btn-primary btn-block mb-2" href="/professor/application/approve/{{_id}}">Approve</a>
    <a class="btn btn-danger red btn-block mb-2" href="/professor/application/reject/{{_id}}">Reject</a>
</div>
{{else}}
<p>No Applications Listed :(</p>

{{/each}}